extends layout

block content
  .section-intro
    .container
      .material-icons.md-48
        | wb_cloudy
      .material-icons.md-48.text-success
        | check_circle
      .material-icons.md-48.text-danger
        | error
      .material-icons.md-48.text-info
        | info
      .material-icons.md-48.text-warning
        | warning
      h1
        | Consistent icons across SUSE products
      h6
        | The guide to understanding how to use Material Design and Fontawesome icons
      
  article
    .container
      h3
        | Material Design icons vs Fontawesome
      p
        | Material Design icons is the recommended icons library to use in all SUSE products.
      
      p
        strong Quantity: 
        | Material Design icons contains a set of 
        strong > 900 icons 
        | as a web font. On the other hand Fontawesome provides a set of 675 icons, from which > 180 icons are brand icons, leaving it with 
        strong < 495 icons.
