doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/material-design-icons/material-icons.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/application.css')
    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    script(src='/javascripts/application.js')
  body
    aside.main-menu
      .logo
        img( src='/images/eos-logo.png' )
        small.version
          | (v1.0.0 beta)
      include menu.pug
    section.content
      block content
