ul.no-list-style
  li
    a(href='#', class= path === 'colors' ? 'active' : '' )
      | Colors
    small.text-muted
      |  (coming soon)
  li
    a(href='/', class= path === '/' ? 'active' : '' )
      | Icons guide 
      .material-icons.icon-new
        | fiber_new
    ul
      li
        a(href='/icons/when-to-use-them', class= path === '/icons/when-to-use-them' ? 'active' : '' )
          | Do and Don't
hr

h6
  | Internal tools
ul.no-list-style
  li
    .li-no-link
      | Special icons lists
    ul
      li
        a(href='/internal/special-icons/caasp', class= path === '/internal/special-icons/caasp' ? 'active' : '' )
          | CaaSP
      li
        a(href='/internal/special-icons/cloud', class= path === '/internal/special-icons/cloud' ? 'active' : '' )
          | Cloud
      li
        a(href='/internal/special-icons/hawk', class= path === '/internal/special-icons/hawk' ? 'active' : '' )
          | Hawk
      li
        a(href='/internal/special-icons/paas', class= path === '/internal/special-icons/paas' ? 'active' : '' )
          | PaaS
      li
        a(href='/internal/special-icons/scc', class= path === '/internal/special-icons/scc' ? 'active' : '' )
          | SCC
      li
        a(href='/internal/special-icons/ses', class= path === '/internal/special-icons/ses' ? 'active' : '' )
          | SES
      li
        a(href='/internal/special-icons/suma', class= path === '/internal/special-icons/suma' ? 'active' : '' )
          | Suma
    
