extends ../layout

block content
  article
    .container
      h1
        | Basic rules when to use or not an icon
      
      p
        | The following is the list of icons with their reasons when to use them and when not to (when available).
      p
        | If there is no specific use for the icon you are using or for the action/use case you need, 
        | feel free to 
        a(href= 'http://uxui.suse.de/#/requests/new', target= '_blank')
          | send a request to the UX/UI team. 
        | We will handle your request and include it in our
        | road map as soon as a slot becomes available. Until then, you should look for a replacement that is at least
        | compliant to the current list, meaning, as long as the icon does not break these rules, you are good to go. 
        
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | person
          hr
          h6
            | Material Design ligature: 
          | person
          h6
            | Fontawesome fallback: 
          i.fa.fa-user
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon to represent a person/user in a table/list of users.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't  
              p
                | Use this icon for user account or group of users.
    
  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | account_circle
          hr
          h6
            | Material Design ligature: 
          | account_circle
          h6
            | Fontawesome fallback: 
          i.fa.fa-user-circle
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon for user account, when a user will view or edit user account details, or when together to user name.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon to represent a person/user or group of users.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | supervisor_account
          hr
          h6
            | Material Design ligature: 
          | supervisor_account
          h6
            | Fontawesome fallback: 
          | no fallback available
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon to represent the users that have admin priviledges in a table/list of users.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon in links to user account just because the user is an admin, neither for group of users.


  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | group
          hr
          h6
            | Material Design ligature: 
          | group
          h6
            | Fontawesome fallback: 
          i.fa.fa-group
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon to represent a group of users/persons.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon to represent and organization, admin user.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | domain
          hr
          h6
            | Material Design ligature: 
          | domain
          h6
            | Fontawesome fallback: 
          i.fa.fa-sitemap
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon to represent organizations, e.g.: SUSE Germany, SUSE UK, SUSE China, etc. An organization contains group/s of users, subscriptions, systems, organization details, etc. as a whole entity.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon to represent groups of users, group of systems, etc. individually.
  
  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | desktop_windows
          hr
          h6
            | Material Design ligature: 
          | desktop_windows
          h6
            | Fontawesome fallback: 
          i.fa.fa-desktop
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon to represent a system, a physical machine, a virtual machine, a cloud instance, or a group of any of them.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon for configuration of any: system, virtual machine, cloud instance, etc.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | receipt
          hr
          h6
            | Material Design ligature: 
          | receipt
          h6
            | Fontawesome fallback: 
          | no fallback available
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon to represent a registration code or software licence.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | -

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | file_download
          hr
          h6
            | Material Design ligature: 
          | file_download
          h6
            | Fontawesome fallback: 
          i.fa.fa-download
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon for downloads, of any type.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use icons with a file type icon to represent a download, such as:
                i.fa.fa-file-code-o.fa-fw
                i.fa.fa-file-pdf-o.fa-fw
                i.fa.fa-file-excel-o.fa-fw
              p
                | Those icons should be used for document type selections, or to visually represent the difference between items, but the download action should always use the download icon.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | file_upload
          hr
          h6
            | Material Design ligature: 
          | file_upload
          h6
            | Fontawesome fallback: 
          i.fa.fa-upload
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon to indicate an upload will be triggered allowing the user to upload files of any type.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use icons with a file type icon to represent restrictions in the upload, such as:
                i.fa.fa-file-code-o.fa-fw
                i.fa.fa-file-pdf-o.fa-fw
                i.fa.fa-file-excel-o.fa-fw
              p
                | Restrictions should be present in text form.


  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | attach_file
          hr
          h6
            | Material Design ligature: 
          | attach_file
          h6
            | Fontawesome fallback: 
          i.fa.fa-upload
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon to represent attachments, whether present in a chat channel, support thread, and others, or as action to add attachment to a message.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon for general file uploads to an interface.


  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | info
          hr
          h6
            | Material Design ligature: 
          | info
          h6
            | Fontawesome fallback: 
          i.fa.fa-info-circle
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon in alerts, notifications, buttons with tooltip/popover information, or other types of prompted messages, to show the customer the text displayed (or to be displayed if the information lays behind a tooltip/popover) is only informational and no immediate action is required from them.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon for general text in the UI or documentation. Don't use it if there is an action required from the user, for which cases a state of warning/error should be assigned, and the icons corresponding to that.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | error
          hr
          h6
            | Material Design ligature: 
          | error
          h6
            | Fontawesome fallback: 
          i.fa.fa-exclamation-circle
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon in alerts, notifications, buttons with tooltip/popover information, or other types of prompted messages, to inform the customer an error has occured and an action is required, even if the action is to wait and retry.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon to highligh information that is not an error and does not require an action from the customer.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | warning
          hr
          h6
            | Material Design ligature: 
          | warning
          h6
            | Fontawesome fallback: 
          i.fa.fa-exclamation-triangle
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon in alerts, notifications, buttons with tooltip/popover information, or other types of prompted messages, to inform the customer a warning is present and an action is required, even if the action is to wait and retry.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon to highligh information that is not a warning and does not require an action from the customer.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | check_circle
          hr
          h6
            | Material Design ligature: 
          | check_circle
          h6
            | Fontawesome fallback: 
          i.fa.fa-check-circle
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                ul
                  li
                    | Use this icon to represent successful results: successful updates, removals, etc. or an applied/active status.
                  li
                    | Use this icon in buttons with no text for confirmation dialogs.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon in call-to-actions buttons or links.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | check
          hr
          h6
            | Material Design ligature: 
          | check
          h6
            | Fontawesome fallback: 
          i.fa.fa-check
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon in call-to-actions buttons or links together with the text of the action that will apply. If no text is present in the actionable button/link, make sure to use a tooltip that explains the positive action on mouse over.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon to represent successful results: successful updates, removals, etc. or an applied/active status.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | close
          hr
          h6
            | Material Design ligature: 
          | close
          h6
            | Fontawesome fallback: 
          i.fa.fa-close
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon in buttons, modals or links to "close" a modal, message, notification, or "cancel/dismiss" an action.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon to represent canceled/interrupted results: an update that was canceled, a rejected request, etc. or a disabled/inactive status.
  
  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | cancel
          hr
          h6
            | Material Design ligature: 
          | cancel
          h6
            | Fontawesome fallback: 
          span.fa-stack
            i.fa.fa-circle.fa-stack-2x
            i.fa.fa-close.fa-stack-1x.fa-inverse
            br
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                ul
                  li
                    | Use this icon in a response, to represent canceled/interrupted results: an update that was canceled, a rejected request, etc. or a disabled/inactive status.
                  li
                    | Use this icon for cancelation porpuses when no text will be displayed next to the icon in the button/link.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon in buttons, modals or links to "close" a modal, message, notification, or "cancel/dismiss" an action.
  
  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | remove_circle
          hr
          h6
            | Material Design ligature: 
          | remove_circle
          h6
            | Fontawesome fallback: 
          i.fa.fa-minus-circle
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon in an action to remove an item from a list or table.
              p
                strong
                  | Dependency: 
                | This icon should always go together with a removal confirmation modal/popup.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              ul
                li
                  | Use this icon to delete information permanently from the DB, e.g.: removing a user from a group, doesn't delete him from the Product Data Base, VS, deleting a user account does remove this from the DB. For deletions please use the icon [delete].
                li
                  | Use this icon in a calculator UI, for that use the [minus] icon.
  
  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | add_circle
          hr
          h6
            | Material Design ligature: 
          | add_circle
          h6
            | Fontawesome fallback: 
          i.fa.fa-plus-circle
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon in an action to add an item to a list or table when no text will be present next to the icon in the button/link.
                
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              | Use this icon in a calculator UI, for that use the [add] icon.    
  
  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | add
          hr
          h6
            | Material Design ligature: 
          | add
          h6
            | Fontawesome fallback: 
          i.fa.fa-plus
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              ul
                li
                  | Use this icon in an action to add or create an item when a text like "create new server", "add new nodes", etc. will be displayed next to the icon in the button/link.
                li
                  | Use this icon in calculators UI for the mathematical add operator.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              | Use this icon in a calculator UI, for that use the [add] icon.
  
  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | delete
          hr
          h6
            | Material Design ligature: 
          | delete
          h6
            | Fontawesome fallback: 
          i.fa.fa-trash
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon in an action to delete an item/information from the system (from the DB), or as the result of it, e.g.: "[delete] message deleted".
              p
                strong
                  | Dependency: 
                | This icon should always go together with a deletion confirmation modal/popup.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              ul
                li
                  | Use this icon to remove items from a list/table, that will be lost from the database, e.g.: removing a user from a group, doesn't delete him from the Product Data Base, VS, deleting a user account does remove this from the DB. For removals please use the icon [remove_circle].
  
  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | block
          hr
          h6
            | Material Design ligature: 
          | block
          h6
            | Fontawesome fallback: 
          i.fa.fa-ban
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon to represent status not available, disabled, or for actions to disable or block.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon stacked to other icons to represent removals or the action of disabling an item, e.g.: the block icon stacked with a desktop_windows under to represent the removal/disbling of a system.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | visibility
          hr
          h6
            | Material Design ligature: 
          | visibility
          h6
            | Fontawesome fallback: 
          i.fa.fa-eye
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon in links/buttons to make hidden information visible, as well as links to show/view more information.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon in results/responses, e.g.: the icon next to a title such as: Showing all results.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | visibility_off
          hr
          h6
            | Material Design ligature: 
          | visibility_off
          h6
            | Fontawesome fallback: 
          i.fa.fa-eye-slash
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon only in links/buttons to hide information.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon in results/responses, e.g.: the icon next to a title such as: List of hidden systems.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | sync
          hr
          h6
            | Material Design ligature: 
          | sync
          h6
            | Fontawesome fallback: 
          i.fa.fa-refresh
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon in actionable items that will trigger a refresh, reload, sync of data, etc. as long as new data will come on screen. Use this icon together with the "spin" class to animate the spinning when the data is being retrieved.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon on actions that will trigger an update server side that will not return results to to front-end.
                
  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | more_vert
          hr
          h6
            | Material Design ligature: 
          | more_vert
          h6
            | Fontawesome fallback: 
          i.fa.fa-ellipsis-v
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon for a contextual menu with a list of options to display in a dropdown or popover.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon for specific dropdown triggers, such as a notifications menu, account menu.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | more_horiz
          hr
          h6
            | Material Design ligature: 
          | more_horiz
          h6
            | Fontawesome fallback: 
          i.fa.fa-ellipsis-h
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Similar to [visibility] but not the same: Use this icon in links/buttons to make hidden information visible, as long as the user will remain in the same page/section and there won't be a "hide" action after the information has been shown, e.g.: a very long text is shown half hidden, and clicking on this icon would show the following part.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              ul
                li
                  | Use this icon to open dropdowns, in notification menues, account menues.
                li
                  | Use this icon in links/buttons that will take the user to a different page/section to view more information, for this use [visibility].


  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | headset_mic
          hr
          h6
            | Material Design ligature: 
          | headset_mic
          h6
            | Fontawesome fallback: 
          i.fa.fa-life-saver
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon when offering a user a way to contact support in Chat or Ticketing form.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon for other general contact information, such as email, social media, etc.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | search
          hr
          h6
            | Material Design ligature: 
          | search
          h6
            | Fontawesome fallback: 
          i.fa.fa-search
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon in search inputs in the background on the very right, buttons that will open up/show a search input, or submit buttons in the search input that will send the search form.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon as a status response of "searching".

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | arrow_forward
          hr
          h6
            | Material Design ligature: 
          | arrow_forward
          h6
            | Fontawesome fallback: 
          i.fa.fa-arrow-right
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon in popovers, modals, notifications and alerts, as a link or button to take a user to a different page.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon in normal links.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | exit_to_app
          hr
          h6
            | Material Design ligature: 
          | exit_to_app
          h6
            | Fontawesome fallback: 
          i.fa.fa-arrow-right
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon in external links or buttons linking to external links. They will open up in a new tab or window in the browser.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon in normal links.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | keyboard_arrow_down
          hr
          h6
            | Material Design ligature: 
          | keyboard_arrow_down
          h6
            | Fontawesome fallback: 
          i.fa.fa-chevron-down
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon in collapsible items/information, in the action to open the items/information. You can also use this icon in a button/link that scroll the user down in the same screen.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              ul
                li 
                  | Use this icon in dropdowns since for that the right icon is
                  strong
                    |  arrow_drop_down
                  i.material-icons
                    | arrow_drop_down
                li
                  | Don't use this icon to order columns in tables.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | keyboard_arrow_up
          hr
          h6
            | Material Design ligature: 
          | keyboard_arrow_up
          h6
            | Fontawesome fallback: 
          i.fa.fa-chevron-up
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon in collapsible items/information, in the action to open the items/information. You can also use this icon in a button/link that scroll the user down in the same screen.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon to order columns in tables.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | folder_open
          hr
          h6
            | Material Design ligature: 
          | folder_open
          h6
            | Fontawesome fallback: 
          i.fa.fa-folder-open
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon when there are 
                strong no results 
                | to show, e.g.: in the Subscription page, there are no Subscriptions to show.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon to show groups of items, for that use  
                strong
                  | folder
                  i.material-icons
                    | folder

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | history
          hr
          h6
            | Material Design ligature: 
          | history
          h6
            | Fontawesome fallback: 
          i.fa.fa-history
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon to represent logs or history of information/data.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon to trigger a refresh of history of information/data.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | timeline
          hr
          h6
            | Material Design ligature: 
          | timeline
          h6
            | Fontawesome fallback: 
          i.fa.fa-bar-chart
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon to represent statistics or charts, or in buttons/links that will generate one, always with the text explaining the action, e.g.: "[icon] create chart"
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon for history of data such as activity logs.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | keyboard_arrow_right
          hr
          h6
            | Material Design ligature: 
          | keyboard_arrow_right
          h6
            | Fontawesome fallback: 
          i.fa.fa-arrow-right
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon only for navigations, using this icon in the action to move to the 
                strong 
                  | next  
                | page.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon in buttons/links to approve, confirm an action, or "view more", or "find out" type of buttons/links.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | keyboard_arrow_left
          hr
          h6
            | Material Design ligature: 
          | keyboard_arrow_left
          h6
            | Fontawesome fallback: 
          i.fa.fa-arrow-left
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon only for navigations, using this icon in the action to move to the 
                strong 
                  | previous
                | page, or in 
                strong
                  | go back 
                | buttons/links.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon in buttons/links to cancel, or dismiss an action.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | edit
          hr
          h6
            | Material Design ligature: 
          | edit
          h6
            | Fontawesome fallback: 
          i.fa.fa-pencil
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon in buttons/links next to the text "edit (...)" to be specific about what is to be edited. Or use the standalone icon in modular components or table rows to edit the content displayed in these, always with a tooltip explaining the information that will be edited.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon inside input fields, in a submit button that confirms the edition of a form.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | verified_user
          hr
          h6
            | Material Design ligature: 
          | verified_user
          h6
            | Fontawesome fallback: 
          i.fa.fa-shield
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon for verifications, status of verified users/accounts/systems/etc, to activate systems/accounts/subscriptions in buttons/links.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon for anything related to security.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | forum
          hr
          h6
            | Material Design ligature: 
          | forum
          h6
            | Fontawesome fallback: 
          i.fa.fa-comments-o
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon for forums, or chat rooms where the user will be in touch with more than 1 user and be able to start conversations.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon for unidirectional communication tools such as feedback, or 1:1 communication tools such as support chat, where the user will whether just send a unique message, or have a conversation with only 1 person (in the case of support chat).

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | chat
          hr
          h6
            | Material Design ligature: 
          | chat
          h6
            | Fontawesome fallback: 
          i.fa.fa-comment
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon for unidirectional communication tools such as feedback, or 1:1 communication tools such as support chat, where the user will whether just send a unique message, or have a conversation with only 1 person (in the case of support chat).
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon in links/buttons to forums, or chat rooms where the user will be in touch to other users and be able to start conversations.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | textsms
          hr
          h6
            | Material Design ligature: 
          | textsms
          h6
            | Fontawesome fallback: 
          i.fa.fa-commenting
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon in real time applications where a user is typing a message.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | -

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | email
          hr
          h6
            | Material Design ligature: 
          | email
          h6
            | Fontawesome fallback: 
          i.fa.fa-envelope
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon in links/buttons that:
                ul
                  li
                    | will take the user to a contact page where the user will send an email through a form.
                  li
                    | will openup the user's email cient to send an email.
              p
                | Use this icon next to a title or in a section to represent the section shows a list of emails received or in a form that will send an email.
              p
                | Use this icon for mail addresses.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon to reply an email.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | reply
          hr
          h6
            | Material Design ligature: 
          | reply
          h6
            | Fontawesome fallback: 
          i.fa.fa-mail-reply
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              p
                | Use this icon to reply to emails, chat or comments.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon to forward data.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | notifications
          hr
          h6
            | Material Design ligature: 
          | notifications
          h6
            | Fontawesome fallback: 
          i.fa.fa-bell
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              ul
                li
                  | Use this icon in a list of notifications.
                li
                  | To represent new notifications available.
                li
                  | In the action to re-activate notifications for an item/account.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon in normal alerts prompted after a certain action, e.g.: successfully added a system.

  hr.hr-articles
    
  article
    .container
      .row
        .col-sm-3
          h4
            | Icon
          .material-icons.md-48
            | notifications_off
          hr
          h6
            | Material Design ligature: 
          | notifications_off
          h6
            | Fontawesome fallback: 
          i.fa.fa-bell-slash
        .col-sm-9
          .row
            .col-sm-6.do-column
              h4
                .material-icons.text-success
                  | check_circle
                | Do
              ul
                li
                  | Use this icon to make visual that notifications have been turned off for the item/account.
                li
                  | In the action to disable notifications for an item/account.
            .col-sm-6.dont-column
              h4
                .material-icons.text-danger
                  | cancel
                | Don't
              p
                | Use this icon in normal alerts prompted after a certain action, e.g.: successfully added a system.
