extends ../../layout

block content
  article
    .container
      h1
        | Special icons: PaaS
      p
        | The following is the list of items, functions, names, etc. that require an special icon to be designed:
      h6
        | Total: 
        .label.label-default.js-count-icons
        //- You dont need to put anything here, Javascript will do the job

  section
    .container.icons-list
      
      //- Duplicate the article for all the icons you find
      //- Example with Material Design icon
      article
        .row
          .col-sm-3
            h4
              | Icon
            .material-icons.md-48
              | assistant
            hr
            h6
              | Material Design ligature: 
            | assistant
          .col-sm-2
            h4
              | Placement
            p
              | Header
          .col-sm-3
            h4
              | Hierarchy
            p
              | Call-to-action button found in pop-up modal
          .col-sm-4
            h4
              | Purpose/Action
            p
              | When clicking on "de-register" in the systems page, a modal will popup with a button saying "call asistant" together with this icon.
              | After clicking this button, the assistant will show up on screen and show the instructions of how to de-register a machine.
        
      hr.hr-articles
      
      //- Example with Font Awesome icon
      article
        .row
          .col-sm-3
            h4
              | Icon
            i.fa.fa-magic.md-48
          .col-sm-2
            h4
              | Placement
            p
              | Header
          .col-sm-3
            h4
              | Hierarchy
            p
              | Call-to-action button present in the result page in the Customer Management internal tool, after having searched for a user.
            p
              | In admin page it is present in the table of users.
          .col-sm-4
            h4
              | Purpose/Action
            p
              | When clicking this icon the admin can see the SCC as the user sees it, thus, see all his/her organizations, systems, subscriptions, etc.
        
      hr.hr-articles
        
      //- Example with an image as icon
      article
        .row
          .col-sm-3
            h4
              | Icon
            img(src='/images/special-icons/scc/facebook.svg')
            h6
              | File name: 
            | Facebook.svg
          .col-sm-2
            h4
              | Placement
            p
              | Footer
          .col-sm-3
            h4
              | Hierarchy
            p
              | External link to facebook fan page.
          .col-sm-4
            h4
              | Purpose/Action
            p
              | When clicking on "de-register" in the systems page, a modal will popup with a button saying "call asistant" together with this icon.
              | After clicking this button, the assistant will show up on screen and show the instructions of how to de-register a machine.
        
      hr.hr-articles
      
