.logo {
  background: $logo-bg;
  font-size: $logo-font-size;
  padding: $space;

  small {
    color: $logo-version;
    font-size: $logo-version-size;
    margin-left: 0.7em;
    position: absolute;
    right: 15px;
  }
}
