.main-menu {
  background-color: $main-menu-bg;
  border-right: $main-menu-border;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: $aside-width;

  li a,
  .li-no-link {
    color: $main-menu-link-color;
    font-weight: $font-weight-normal-base;
    padding-left: $space;
  }

  hr {
    border-top-color: $main-menu-hr-color;
  }

  h6 {
    color: $main-menu-title-color;
    margin: 0;
    padding: $space $space 0;
    text-transform: uppercase;
  }
}
