.material-icons {
  margin-right: $space-xs;
  vertical-align: bottom;
}

/* Rules for sizing the icon. */
.md-18 {
  font-size: $md-18;
}

.md-24 {
  font-size: $md-24;
}

.md-36 {
  font-size: $md-36;
}

.md-48 {
  font-size: $md-48;
}

/* Rules for using icons as white on a dark background. */
.md-light {
  color: $md-light;
}

.md-light.md-inactive {
  color: $md-light-inactive;
}

// icons - general (not material-icons classes)

.active .icon-new {
  color: $icon-new-active-color;
}

.icon-new {
  color: $icon-new-color;
  font-size: $icon-new-size;
}

.icon-loading {
  animation: animate-spin 1s infinite linear;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-top-color: rgb(0, 0, 0);
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icons-list {

  img {
    max-height: 48px;
    max-width: 48px;
  }
}
