html {
  height: 100%;
  position: relative;
}

html,
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $body-bg;
  color: $body-color;
  font-family: $font-type-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal-base;
  line-height: $line-height;
}

.content {
  height: 100%;
  margin-left: $aside-width;
}

.container {
  padding: $space-lg;
  width: 100%;
}

article {
  margin-bottom: 24px;
}

.hr-articles {
  border-top: 2px dotted $ug-gray;
  height: 0;
  margin: $space-lg $space;
}
