.no-list-style {
  list-style: none;
  padding-left: 0;

  ul {
    list-style: none;
    padding-left: 0;
    padding-top: $space-xs;

    li {

      a {
        padding-left: $space-lg;
      }

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }
}

.ul-horizontal {

  &.no-list-style {
    li {
      margin-right: $space;
    }
  }

  li {
    display: inline-block;
  }
}

li {
  padding: $space-xs 0 $space-xs;
}

ol > li {
  padding-left: $space;

  .fa {
    margin-right: $space-xs;
  }
}

.main-menu {

  ul {
    padding-top: 1em;
  }
}
