h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

h1 {
  color: $h1-color;
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
  font-weight: $font-weight-bold-base;
}

.title-line {
  margin-bottom: $space-lg;
  width: 100%;

  &::after,
  &::before {
    border-top: 1px solid #ddd;
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 30%;
  }

  &::before {
    margin-right: $space-lg;
  }

  &::after {
    margin-left: $space-lg;
  }
}

article {

  h1:first-of-type,
  h2:first-of-type,
  h3:first-of-type {
    margin-bottom: 40px;
  }
}
