// @TODO move variables to independent file
// color palette
$ug-white: #fff;
$ug-gray: #ddd;
$ug-gray-dark: darken($ug-gray, 45%);
$ug-gray-darker: darken($ug-gray, 70%);
$ug-red: #ff420a;
$ug-yellow: #edae49;
$ug-yellow-light: #e6ebe0;
$ug-light-blue: #37718e;
$ug-blue-grayish: #4a5368;
$ug-green: #17a398;

// main colors
$color-main: $ug-red;
$color-default: $ug-gray-darker;
$color-info: $ug-light-blue;
$color-danger: $ug-red;
$color-success: $ug-green;
$color-warning: $ug-yellow;

// typography
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
$font-type-base: 'Lato', sans-serif;
$font-size-base: 16px;
$font-weight-normal-base: 400;
$font-weight-bold-base: 700;
$font-weight-light-base: 300;

// titles
$h1-font-size: $font-size-base * 2.5;
$h1-color: $color-main;
$h2-font-size: $font-size-base * 2.1;
$h3-font-size: $font-size-base * 1.8;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.3;
$h6-font-size: $font-size-base * 1;

// paragraph
$line-height: $font-size-base * 1.5;
$p-margin-top: $font-size-base;

// spacing - dimensions
$space: 16px;
$space-xs: $space / 2;
$space-md: $space + $space-xs;
$space-lg: $space * 2;
$aside-width: 250px;

// borders
$border-radius-base: 4px;

//-------- contextual variables -----------//
// layout
$body-bg: $ug-white;
$body-color: $ug-gray-dark;

// logo
$logo-bg: $ug-white;
$logo-font-size: $h5-font-size;
$logo-text-color: $ug-white;
$logo-version: $ug-gray-darker;
$logo-version-size: 42%;
$logo-width: 120px;

// text
$text-muted-color: $ug-gray;
$do-dont-p-color: $ug-gray-dark;

// shadows
$shadow-color: $ug-gray;

// icons
$icon-new-size: $font-size-base;
$icon-new-color: $color-main;
$icon-new-active-color: $ug-white;
$md-light: $ug-white;
$md-light-inactive: rgba($md-light, 0.3);
$md-18: 18px;
$md-24: 24px;
$md-36: 36px;
$md-48: 48px;

// links
$active-color: $ug-white;
$active-border-radius: 0 $border-radius-base $border-radius-base 0;
$active-hover-color: $ug-white;

//main menu
$main-menu-border: 1px solid $ug-gray;
$main-menu-bg: $ug-gray-darker;
$main-menu-link-color: $ug-white;
$main-menu-title-color: $ug-white;
$main-menu-hr-color: lighten($main-menu-bg, 10%);

// Loaders
$alert-loading-border-color: $ug-gray;
